*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}
.header-bg {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px) saturate(10%) contrast(65%) brightness(130%);
}

.header-offer {
  letter-spacing: 3px;
  font-weight: 600;
}

.ex-price {
  color: #999;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 3px;
  display: inline-block;
}
#footer {
  background: #e5e7e8;
}
